@import url(./utils/variables.css);
@import url(./utils/base.css);

form {
    display: block;
    margin: auto;
    margin: 35px auto;
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 35px 30px;
    max-width: 1000px;
}

input,
label,
textarea {
    display: block;
    outline: none;
}

form>input,
form>textarea {
    margin-bottom: 20px;
    margin-top: 3px;
    width: 100%;
    border: 2px solid var(--gray);
    padding: 10px 12px;
    font-size: large;
    border-radius: 5px;
}

form>label {
    font-size: 15px;
}

select {
    border: 2px solid var(--gray);
    padding: 3px;
    border-radius: 4px;
    width: 100px;
}

.exercises {
    margin: 30px 10px;
    padding: 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--light-gray);

}

legend {
    color: var(--dark-gray);
}

.exercisesForm {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
}

.exercisesForm * {
    border-radius: 5px;
    border: 2px solid var(--gray);
    padding: 1px 5px;
}

.exercisesForm button {
    border: none;
    background-color: var(--dark-green);
    padding: 8px;
    color: white;
    font-weight: 600;
    width: 100%;
    margin-top: 10px;
}

.exercisesForm button:hover {
    cursor: pointer;
    background-color: var(--green);
}

.exercisesForm input,
.exercisesForm textarea {
    margin-bottom: 5px;
    padding: 7px 10px;
    width: 100%;
}


#exerciseRepetitions {
    width: 100px;
    margin-right: 5px;
}

#exerciseSets {
    width: 65px;
    margin-right: 5px;
}

#exerciseWeights {
    width: 70px;
}

button[type="submit"] {
    background-color: var(--orange);
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: var(--light-orange);
}

.addedExercises {
    position: relative;
    line-height: 22px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-radius: 7px;
    border-left: 5px solid var(--purple);
    box-shadow: var(--shadow);
    color: var(--dark-gray);
}

.addedExercisesName {
    width: 100%;
    font-weight: 700;
}

.deleteExerciseButton {
    color: var(--red);
    position: absolute;
    right: 10px;
}

.deleteExerciseButton:hover {
    cursor: pointer;
}