form {
    display: block;
    margin: 35px auto;
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 35px 30px;
    max-width: 1000px;
}

input,
label,
textarea {
    display: block;
    outline: none;
}

label {
    margin-top: 20px;
}

form>input,
form>textarea {
    margin-bottom: 1px;
    margin-top: 3px;
    width: 100%;
    border: 2px solid var(--gray);
    padding: 10px 12px;
    font-size: large;
    border-radius: 5px;
}

form>label {
    font-size: 15px;
}

select {
    border: 2px solid var(--gray);
    padding: 3px;
    border-radius: 4px;
    width: 100px;
}

legend {
    color: var(--dark-gray);
}

button[type="submit"] {
    background-color: var(--orange);
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin-top: 25px;
}

button[type="submit"]:hover {
    background-color: var(--light-orange);
    cursor: pointer;
}

.formFieldErrorMessage {
    margin-top: 2px;
    color: var(--red);
    margin-left: 2px;
}

.alterAuthButton {
    background-color: var(--purple);
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
}

.alterAuthButton:hover {
    background-color: var(--light-purple);
}

.alterAuthText {
    margin-left: 1px;
    margin-top: 20px;
    margin-bottom: 5px;
}