@import url(./utils/variables.css);
@import url(./utils/base.css);

.exercises {
    margin: 30px 10px;
    padding: 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--light-gray);

}



.exercisesForm {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
}

.exercisesForm * {
    border-radius: 5px;
    border: 2px solid var(--gray);
    padding: 1px 5px;
}

.exercisesForm button {
    border: none;
    background-color: var(--dark-green);
    padding: 8px;
    color: white;
    font-weight: 600;
    width: 100%;
    margin-top: 10px;
}

.exercisesForm button:hover {
    cursor: pointer;
    background-color: var(--green);
}

.exercisesForm input,
.exercisesForm textarea {
    margin-bottom: 5px;
    padding: 7px 10px;
    width: 100%;
}


#exerciseRepetitions {
    width: 100px;
    margin-right: 5px;
}

#exerciseSets {
    width: 65px;
    margin-right: 5px;
}

#exerciseWeights {
    width: 70px;
}



.addedExercises {
    position: relative;
    line-height: 22px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-radius: 7px;
    border-left: 5px solid var(--purple);
    box-shadow: var(--shadow);
    color: var(--dark-gray);
}

.addedExercisesName {
    width: 100%;
    font-weight: 700;
}

.deleteExerciseButton {
    color: var(--red);
    position: absolute;
    right: 10px;
}

.deleteExerciseButton:hover {
    cursor: pointer;
}