@import url(./utils/variables.css);

.navbar {
    display: flex;
    justify-content: space-between;
    box-shadow: var(--shadow);
    padding: 10px 20px;
    border-radius: 10px;
    align-items: center;
    font-weight: 900;
}

.navLogo {
    display: flex;
    align-items: center;
}

.navLogo:hover {
    cursor: pointer;
}

.navLink {
    text-decoration: none;
    color: var(--dark-gray);
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar button {
    padding: 7px 14px;
    border-radius: 5px;
    background-color: var(--red);
    border: 2px solid var(--red);
    font-weight: 900;
    color: white;
    box-shadow: var(--red-button-shadow);
}

.navbar button:hover {
    background-color: var(--hover-red-button--color);
}

.navLink:hover {
    background-color: var(--light-gray);
}

.navLinkActive {
    background-color: var(--light-gray);
}