@import url(../css/utils/variables.css);

.workout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow);
    padding: 15px 30px;
    border-radius: 10px;
    margin-bottom: 10px;
    line-height: 25px;
}

.workout:hover {
    box-shadow: var(--shadow-hover);
}

.workoutStatus * {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.workoutName {
    font-size: 22px;
    font-weight: 700;

}

.workoutComment {
    color: var(--dark-gray);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.workoutDate {
    color: var(--dark-gray);
    font-size: small;
    font-weight: 700;
}

.workoutActive {
    border-left: 6px solid var(--green);
}

.workoutPending {
    border-left: 6px solid var(--orange);

}

.workoutButtons {
    width: 50px;
    display: flex;
    justify-content: space-between;
}

.workoutButtons * {
    width: 20px;
    height: 20px;
}

.workoutButtons *:hover {
    cursor: pointer;
}

.workoutDeleteButton {
    color: var(--red);
}

.workoutEditButton {
    color: var(--purple);
}